<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout-1 Flex</title>
    <link rel="stylesheet" href="./css/flex-1.css" />
  </head>
  <body>
    <div class="container">
      
      <header class="cabecalho">
        <img class="logo" src="./img/logo.jpg" alt="Folhas coloridas" />
        <nav class="menu">
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Ajuda</li>
          </ul>
        </nav>
      </header>
      
      <main class="conteudo">
        
        <section>
          <h2>Informações</h2>
          <aside>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellendus quos magnam esse quia, blanditiis temporibus tempora
              eaque. Soluta, nemo ut! Beatae fugiat culpa ducimus deserunt,
              doloribus quo voluptas mollitia dolorum!
            </p>
            <a href="#">Mais...</a>
          </aside>
        </section>

        <section>
          <h2>Clientes</h2>
          <div>
            <figure>
              <img src="./img/img-01-cliente.jpg" alt="Pessoas trabalhando" />
              <figcaption>Cliente 1</figcaption>
            </figure>
            <figure>
              <img src="./img/img-01-cliente.jpg" alt="Pessoas trabalhando" />
              <figcaption>Cliente 2</figcaption>
            </figure>
            <figure>
              <img src="./img/img-01-cliente.jpg" alt="Pessoas trabalhando" />
              <figcaption>Cliente 3</figcaption>
            </figure>
            <figure>
              <img src="./img/img-01-cliente.jpg" alt="Pessoas trabalhando" />
              <figcaption>Cliente 4</figcaption>
            </figure>
          </div>
        </section>

        <section>
          <h2>Missão</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis,
            amet debitis quaerat cumque libero sunt saepe nemo accusamus
            excepturi iure quam aliquam veniam et, minima ad placeat autem, iste
            illum.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
            provident cupiditate totam quod, magni quidem itaque aliquid
            exercitationem quis molestias fugit? Sequi, assumenda. Pariatur
            corporis adipisci, voluptates minima reiciendis veritatis.
          </p>
          <a href="#">Mais...</a>
        </section>

      </main>

      <footer class="rodape">
        <p>&copy; Todos os direitos reservados - Flex 2025</p>
      </footer>

    </div>
    
  </body>
</html>
